.employee-card {
    width: 30%;
    display: flex;
    margin: 1em;
    padding: .5em;
    background: linear-gradient(to top, #1c92d2, #f2fcfe);
    border-radius: 10px;
    box-shadow: 0 8px 6px -6px rgba(0, 0, 0, 0.6);
}


.employee-card img {
    width: 100%;
}

.employee-card-container {
    display: flex;
    flex-wrap: wrap;
}

.employee-card-left {
    width: 49%;
}
.employee-card-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 49%;
    text-align: center;
}

.employee-card-right .nav-link {
    color: black;
}